.header__logo {
  background: url(../../../images/header-logo.svg) no-repeat;
  background-size: contain;
  width: 142px;
  height: 33px;
}

@media (max-width: 740px) {
  .header__logo  {
    width: 104px;
    height: 24px;
  }
}

@media (max-width: 440px) {
  .header__logo  {
    margin-left: 27px;
  }
}
