.popup__input-job {
  display: block;
  width: 100%;
  margin: 30px 0 48px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #00000020;
  box-sizing: border-box;
  padding-bottom: 9px;
  padding-left: 0;
}

@media screen and (max-width: 570px) {
  .popup__input-job {
    margin-bottom: 45px;
  }
}
