.profile__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 91%;
}

@media screen and (max-width: 740px) {
  .profile__subtitle  {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    padding-right: 40px;
    min-width: 50%;
    max-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .profile__subtitle  {
    padding-right: 25px;
    margin-bottom: 32px;
  }
}
