.card__like {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  background: url(../../../images/card-heart.svg) no-repeat;
  width: 20px;
  height: 22px;
  background-size: contain;
  transition: opacity, .5s;
}

.card__like:focus {
  outline: none;
}


.card__like:hover {
  opacity: .5;
  cursor: pointer;
}
