.footer {
  width: 100%;
  max-width: 940px;
  padding: 69px 30px 60px;
  box-sizing: border-box;
  flex-shrink: 0;
}

@media screen and (max-width: 740px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
