.popup__input {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 32px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #00000020;
  box-sizing: border-box;
  padding-bottom: 9px;
  padding-left: 0;
}

.popup__input::placeholder {
  color: #C4C4C4;
}
