.popup__fullscreen {
  visibility: hidden;
  transition: visibility 1s;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 10px;
  box-sizing: border-box;
  object-fit: contain;
}
